<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProgrammingLanguageVersion</key>
	<dict>
		<key>bad</key>
		<array>
			<string>4.0</string>
		</array>
		<key>medium</key>
		<array>
			<string>4.1</string>
		</array>
	</dict>
	<key>ProgrammingLanguage</key>
	<dict>
		<key>medium</key>
		<array>
			<string>obj-c &amp; swift</string>
			<string>obj-c</string>
		</array>
		<key>good</key>
		<array>
			<string>swift</string>
		</array>
	</dict>
	<key>SwiftLintIntegration</key>
	<dict>
		<key>good</key>
		<array>
			<string>smf</string>
		</array>
		<key>medium</key>
		<array>
			<string>default</string>
		</array>
	</dict>
	<key>License</key>
	<dict>
		<key>good</key>
		<array>
			<string>apache-2.0</string>
			<string>mit</string>
		</array>
	</dict>
	<key>ATSException</key>
	<dict>
		<key>good</key>
		<array>
			<string>domains</string>
		</array>
		<key>bad</key>
		<array>
			<string>arbitrary</string>
		</array>
	</dict>
	<key>Acknowledgment</key>
	<dict>
		<key>good</key>
		<array>
			<string>true</string>
		</array>
		<key>bad</key>
		<array>
			<string>false</string>
		</array>
	</dict>
	<key>CocoaPodVersion</key>
	<dict>
		<key>bad</key>
		<array>
			<string>1.5.0</string>
		</array>
		<key>medium</key>
		<array>
			<string>1.6.0</string>
		</array>
	</dict>
	<key>MetaJsonIntegration</key>
	<dict>
		<key>bad</key>
		<array>
			<string>manually</string>
		</array>
		<key>good</key>
		<array>
			<string>automatically</string>
		</array>
	</dict>
	<key>FastlaneBuildJobsLevel</key>
	<dict>
		<key>bad</key>
		<array>
			<string>none</string>
		</array>
		<key>good</key>
		<array>
			<string>testflight</string>
		</array>
	</dict>
	<key>IDFAUsage</key>
	<dict>
		<key>bad</key>
		<array>
			<string>yes</string>
		</array>
		<key>good</key>
		<array>
			<string>no</string>
		</array>
		<key>medium</key>
		<array>
			<string>maybe</string>
		</array>
	</dict>
	<key>Defaults</key>
	<dict>
		<key>unknown</key>
		<array>
			<string>?</string>
		</array>
	</dict>
	<key>BitcodeEnabled</key>
	<dict>
		<key>bad</key>
		<array>
			<string>no</string>
		</array>
		<key>good</key>
		<array>
			<string>yes</string>
		</array>
	</dict>
	<key>XcodeVersion</key>
	<dict>
		<key>medium</key>
		<array>
			<string>10</string>
		</array>
		<key>bad</key>
		<array>
			<string>9</string>
		</array>
	</dict>
</dict>
</plist>
