source "https://rubygems.org"

gem 'fastlane', '2.120.0'
gem 'cocoapods', '1.7.2'
gem 'xcode-install'
gem 'rest-client'
gem 'CFPropertyList', '~> 2.3.3'
gem 'addressable', '~> 2.5.1'
gem 'fastlane-plugin-sentry'
gem 'danger'
gem 'slather'
gem 'danger-swiftlint'
gem 'danger-xcode_summary'
gem 'danger-slather'
gem 'xcpretty-json-formatter'