source "https://rubygems.org"

gem 'fastlane', '~> 2.229'
gem 'cocoapods', '~> 1.15'
gem 'xcode-install'
gem 'rest-client'
gem 'CFPropertyList', '~> 3.0'
gem 'addressable', '~> 2.8'
gem 'fastlane-plugin-sentry'
gem 'danger'
gem 'slather'
gem 'danger-swiftlint'
gem 'danger-xcode_summary'
gem 'danger-slather'
